@model DuLich.Models.MyTourViewModel
@{
    ViewData["Title"] = "My Tours";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Tour List Area start -->
<section class="tour-list-page py-100 rel z-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-10 rmb-75">
                <div class="shop-sidebar mb-30">
                    @if (Model.PopularTours != null && Model.PopularTours.Any())
                    {
                        <div class="widget widget-tour" data-aos="fade-up" data-aos-duration="1500"
                            data-aos-offset="50">
                            <h6 class="widget-title">Phổ biến Tours</h6>
                            @foreach (var tour in Model.PopularTours)
                            {
                                <div class="destination-item tour-grid style-three bgc-lighter">
                                    <div class="image">
                                        @if (tour.Images != null && tour.Images.Any())
                                        {
                                            <img src="@Url.Content("~/admin/assets/images/gallery-tours/" + tour.Images[0])" alt="Tour">
                                        }
                                    </div>
                                    <div class="content">
                                        <div class="destination-header">
                                            <span class="location"><i class="fal fa-map-marker-alt"></i>
                                                @tour.Destination</span>
                                            <div class="ratting">
                                                <i class="fas fa-star"></i>
                                                <span>@tour.Rating</span>
                                            </div>
                                        </div>
                                        <h6><a href="@Url.Action("TourDetail", "Customer", new { id = tour.MaTour })">@tour.Title</a>
                                        </h6>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>

            </div>
            <div class="col-lg-9">
                @if (Model.MyTours != null && Model.MyTours.Any())
                {
                    @foreach (var tour in Model.MyTours)
                    {
                        <div class="destination-item style-three bgc-lighter" data-aos="fade-up" data-aos-duration="1500"
                            data-aos-offset="50">
                            <div class="image">
                                @if (tour.BookingStatus == "b")
                                {
                                    <span class="badge">Đợi xác nhận</span>
                                }
                                else if (tour.BookingStatus == "y")
                                {
                                    <span class="badge bgc-pink">Sắp khởi hành</span>
                                }
                                else if (tour.BookingStatus == "f")
                                {
                                    <span class="badge bgc-primary">Hoàn thành</span>
                                }
                                else if (tour.BookingStatus == "c")
                                {
                                    <span class="badge" style="background-color: red">Đã hủy</span>
                                }

                                @if (tour.Images != null && tour.Images.Any())
                                {
                                    <img src="@Url.Content("~/admin/assets/images/gallery-tours/" + tour.Images[0])" alt="Tour List">
                                }
                            </div>
                            <div class="content">
                                <div class="destination-header">
                                    <span class="location"><i
                                            class="fal fa-map-marker-alt"></i>@tour.Destination</span>
                                    <div class="ratting">
                                        @for (int i = 0; i < 5; i++)
                                        {
                                            @if (tour.Rating > 0 && i < tour.Rating)
                                            {
                                                <i class="fas fa-star"></i>
                                            }
                                            else
                                            {
                                                <i class="far fa-star"></i>
                                            }
                                        }

                                    </div>
                                </div>
                                <h5><a
                                        href="@Url.Action("TourBooked", "Customer", new { bookingId = tour.BookingId, checkoutId = tour.CheckoutId })">@tour.Title</a>
                                </h5>
                                <div class="truncate-3-lines">
                                    @Html.Raw(tour.Description)
                                </div>

                                <ul class="blog-meta">
                                    <li><i class="far fa-clock"></i>@tour.Time</li>
                                    <li><i class="far fa-user"></i> @(tour.NumAdults + tour.NumChildren) người</li>
                                </ul>
                                <div class="destination-footer">
                                    <span class="price"><span>@tour.TotalPrice.ToString("N0")</span>/vnđ</span>
                                    @if (tour.BookingStatus == "f")
                                    {
                                        <a href="@Url.Action("TourDetail", "Customer", new { id = tour.TourId })"
                                            class="theme-btn style-two style-three">
                                            @if (tour.Rating > 0)
                                            {
                                                <span data-hover="Đã đánh giá">Đã đánh giá</span>
                                            }
                                            else
                                            {
                                                <span data-hover="Đánh giá">Đánh giá</span>
                                            }
                                            <i class="fal fa-arrow-right"></i>
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>Bạn chưa đặt tour nào.</p>
                }
            </div>
        </div>
    </div>
</section>
<!-- Tour List Area end -->
